@import "tailwindcss";
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fbf8f8;
  width: 1140px;
  margin: auto;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.navigation {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  color: #252432;
  font-family: "Inter";
  font-size: 1rem;
}
.bold-link {
  font-weight: bold;
}
.link-2,
.link-3 {
  color: #8987a1;
}
.nav-link i {
  margin-right: 0.3rem;
}
@media screen and (max-width: 576px) {
  body {
    background-color: #fbf8f8;
    width: 100%;
    margin: auto;
  }
  .logo-div {
    width: 30%;
  }
  .header-logo {
    width: 50%;
    margin-left: 10%;
  }

  .navigation {
    width: 40%;
    display: flex;
    align-items: center;
  }
  .bold-link {
    display: none;
  }
  .link-2,
  .link-3 {
    display: none;
  }
  .link-res {
    margin-left: 30%;
    margin-right: 5%;
  }
}
