@import "tailwindcss";
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fbf8f8;
  width: 1140px;
  margin: auto;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.navigation {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  color: #252432;
  font-family: "Inter";
  font-size: 1rem;
}
.bold-link {
  font-weight: bold;
}
.link-2,
.link-3 {
  color: #8987a1;
}
.nav-link i {
  margin-right: 0.3rem;
}
@media screen and (max-width: 576px) {
  body {
    background-color: #fbf8f8;
    width: 100%;
    margin: auto;
  }
  .logo-div {
    width: 30%;
  }
  .header-logo {
    width: 50%;
    margin-left: 10%;
  }

  .navigation {
    width: 40%;
    display: flex;
    align-items: center;
  }
  .bold-link {
    display: none;
  }
  .link-2,
  .link-3 {
    display: none;
  }
  .link-res {
    margin-left: 30%;
    margin-right: 5%;
  }
}
.hero-container {
  display: flex;
  margin-top: 15%;
}
.hero-details {
  width: 50%;
}
.hero-tittle {
  width: 100%;
}
.hero-tittle-header {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: "Noto";
}
.hero-tittle-header span {
  color: #e95a08;
}
.hero-para {
  width: 55%;
  margin-top: 2%;
}
.hero-para-details {
  font-size: 0.75rem;
  font-family: "Inter";
  color: rgba(0, 0, 0, 0.5);
}
.hero-img-div {
  width: 35%;
  height: auto;
  margin-left: auto;
}
@media screen and (max-width: 576px) {
  body {
    background-color: #fbf8f8;
    width: 100%;
    margin: auto;
  }
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 15%;
    margin-left: 3%;
  }
  .hero-details {
    width: 100%;
  }
  .hero-tittle-header {
    font-size: 2.6rem;
  }
  .hero-para {
    width: 85%;
    margin-top: 2%;
  }
  .hero-img-div {
    width: 100%;
    height: 50%;
    margin-bottom: 4%;
  }
}
.plants-container {
  margin-top: 15%;
  margin-bottom: 15%;
}
.plants-tittle {
  width: 100%;
}
.plants-header {
  width: 100%;
}
.plants-head-tittle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Noto";
}
.plants-head-tittle span {
  color: #e95a08;
}
.plants-details {
  width: 44%;
  margin: 0 auto;
  margin-bottom: 3%;
}
.plants-des {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75rem;
  font-family: "Inter";
  text-align: center;
}
.cards-container {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card {
  width: 100%;
  height: auto;
}
.card-details {
  margin-top: 5%;
}
.flower-name {
  font-size: 1.1rem;
  font-family: "Inter";
  color: #111111;
  font-weight: bold;
  padding: 3%;
  padding-bottom: 1%;
  text-align: center;
}
.price {
  font-size: 1.2rem;
  font-family: "Inter";
  color: #111111;
  font-weight: bold;
  text-align: center;
}
.btn {
  background-color: #e95a08;
  color: #ffffff;
  width: 100%;
  margin-top: 2%;
  padding: 4%;
  font-size: 0.75rem;
  font-family: "Inter";
}
@media screen and (max-width: 576px) {
  .plants-container {
    margin-top: 10%;
    margin-bottom: 15%;
  }
  .plants-head-tittle {
    font-size: 2rem;
  }
  .plants-details {
    width: 60%;
  }
  .cards-container {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 1fr;
  }
  .card {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
}
